<section>
<div class="row">
    <div class="col-md-6">
        <app-add-account></app-add-account>
    </div>
    <div class="col-md-6">
        <app-account-details></app-account-details>
    </div>
</div>

<!-- <input type="text" name="messagetxt" [(ngModel)]="message" #tmessage>
<button (click)="greet(tmessage.value)" class="btn btn-primary" [disabled]="btnDisabled">Click Me</button>
<p *ngIf="!message" class="text-danger">No Message Available</p>
<p *ngIf="message">{{message}}</p> -->

</section>